input[type=text]{
  width:80%;
  padding:15px 25px;
  margin: 8px;
  border: 2px solid blue;
  border-radius: 7px;
  background-color: yellow  ;
  font-size: 20px;
}

button{
  background-color: blue;
  color: red;
  padding: 16px 30px;
  margin: 4px 2px;
  cursor: pointer;
}

